.DS_Store
*.pyc
*~
build/
dist/
MANIFEST
tests/repositories/bzr
tests/repositories/darcs
tests/repositories/fossil/manifest*
tests/repositories/fossil/_FOSSIL_*
tests/repositories/fossil/.fos*
tests/repositories/hg
tests/repositories/svn
